NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_INSFORGE_URL=https://s7vukfa6.us-east.insforge.app
NEXT_PUBLIC_INSFORGE_ANON_KEY=anon_128b6b78f213b5b301854f4c058efd3c119526bda2e48133a81274e324747e39
