OPENROUTER_API_KEY=
OPENROUTER_MODEL=openai/gpt-4o
KUBECONFIG_PATH=
ENABLE_AI=true
INSFORGE_URL=https://s7vukfa6.us-east.insforge.app
INSFORGE_ANON_KEY=anon_128b6b78f213b5b301854f4c058efd3c119526bda2e48133a81274e324747e39
